@{
    ViewData["Title"] = "قسم الكونتزول والنتائج";
}
<div class="text-center fw-bolder">
</br>
</br>
<h1>@ViewData["Title"]</h1>
</br>
</br>
<p>للحصول على معلومات الدخول الرجاء مراجعة قسم الكونترول بالمدرسه.</p>
<img src="~/images/logo.png" alt="lieamra " width="50%" height="50%" class="m-2">
</br>
<p>الرجاء مراجعة قسم شئون الطلاب بالمدرسه لمعرفة الرقم التعريفى وارقام الجلوس.</p>
</div>